
#main #result {
	display: block;
}

h2 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 21px;
}

object, img {
	max-width: 250px;
	height: auto;
	position: relative;
	display: block;
}

object {
	left: 50%;
	transform: translateX(-50%);
}

#result section {
	position: relative;
	left: 50%;
	transform: translatex(-50%);
}

#nettside {
	display: block;
	text-align: center;
}

.info {
	display: table;
	width: 208px;
	margin-top: 20px;
	left: 95%;
	position: relative;
	transform: translateX(-100%);
}

.info > * {
	padding: 3px 9px;
}

.info div:nth-child(2n+1) {
	background: var(--secondary-bg-color);
}

.info span:first-child {
	display: inline-block;
	width: 35%;
	color: grey;
}

.info span:last-child {
	display: inline-block;
	width: 60%;
}

.description {
	width: 60%;
	display: block;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	margin: 60px 0;
}

.comment_section fieldset {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.comment_section fieldset > * {
	display: block;
	box-sizing: border-box;
}

.comment_section textarea {
	width: 100%;
}

form select {
	background: var(--main-bg-color);
	padding: 6px;
	height: 32px;
	width: 32px;
	position: relative;
	z-index: 1;
	border: 2px solid var(--hover-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
}

.comments {
	width: 50%;
}

.comment {
	padding: 30px;
	position: relative;
	border-bottom: 1px solid var(--button-active-color);
}

.comment:nth-child(odd) {
	background: var(--secondary-bg-color);
}

.comment:nth-child(even) {
	background: var(--main-bg-color);
}

.comment.child {
	margin-left: 2em;
}

.comment.child::before {
	content: "";
	width: 25px;
	height: 50%;
	position: absolute;
	left: -25px;
	top: 0px;
	border-bottom: 3px dotted var(--hover-color);
	border-left: 3px dotted var(--hover-color);
}

.comment ul {
	display: flex;
	flex-wrap: wrap;
}

.comment ul > * {
	flex-grow: 1;
	width: 33%;
	display: inline-flex;
}

.comment ul .comment_text {
	width: 100%;
	margin: 30px 0;
}

.stars {
	position: relative;
	top: 0.4em;
	color: gold;
	text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px black, 0 -1px 0 black;
	font-size: 1.8em;
}

.rating {
	position: absolute;
	right: 35px;
}

.rating-label {
	display: block;
}

li:first-child {

	font-size: 0.9em;

}

.date {

	position: absolute;
	top: 49px;
	font-size: 0.7em;

}

@media screen and (max-width: 1170px) {
	h2 {
		font-size: 100%;
	}

	.info {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.comments {
		width: 100%;
	}

	.comment {
		padding: 10px 18px;
		position: relative;
		border-bottom: 1px solid var(--button-active-color);
	}

	.date {
		top: 27px;
	}

	.rating-label {
		display: none;
	}

	.stars {
		font-size: 2.4em;
	}

}