$height-mask: 100%;

// To regulate alpha is recommended to use gray scale.
// Recomiendo utilizar escala de grises

$darken: 17%;

$color: rgb(255,255,255);
$color-alpha: darken( $color, $darken );

// Apply color here!
// Todo el color que quieras!
$color-base: rgb(0,0,0);

$break-small: 600px;
$break-large: 1435px;


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#heading {
  height:137px;
  position: inherit;
  @include respond-to(handhelds) {display:none;}
  @include respond-to(wide-screens) {height: 250px;}
}

.text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height-mask;
  z-index: 10;
}
svg{
  width: 100%;
  height: inherit;
  text{
    // svg center text.
    // centar text svg.
    text-anchor: middle;
  }
  #alpha{
    fill: $color-alpha;
    //animation: alpha 10s ease infinite;
  }
  #title{
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: -2px;
    font-size: 8vw;
    font-weight: 800;
  }
  #subtitle{
    letter-spacing: 8px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
  }
  #base{
    fill: $color-base;
    -webkit-mask: url(#mask);
    -moz-mask:url(#mask);
  }
}

section.intro{
  background: url(../img/bryggen-2.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
}


/*@keyframes alpha {
  50%{fill: #000;}
}*/